services:
  - type: web
    name: moshi-dryclean
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
    domains:
      - moshi-drycleaners.onrender.com
